/* google font link  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common css hear  */
body{
  font-family: 'Poppins', sans-serif;
  color: black;
}
*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
a{
  text-decoration: none;
  /* color: black; */
  /* color: #B9B9B9; */
}
.container{
  width: 80%;
  margin: 0 auto;
}

/*=================================
      banner section css hear 
================================== */

section#banner_sec {
  margin-top: 40px;
}

.banner_main {
  display: flex;
  justify-content: space-between;
  /* background-color: black; */
  /* color: white; */
  padding: 4px 60px 0px 79px;
  background: #161616;
  border-radius: 30px;
}


.banner_main {
  display: flex;
  justify-content: space-between;
  /* background-color: black; */
  /* color: white; */
  padding: 4px 60px 0px 79px;
  background: #161616;
  border-radius: 30px;
}

.banner_info {
  width: 45%;
}

.banner_img {
  width: 50%;
  /* margin-bottom: 0px; */
}

.banner_img img {
  width: 100%;
  margin-bottom: -6px;
}

.banner_info h1 {
  color: white;
  font-weight: 700;
  font-size: 60px;
  margin-top: 55px;
  line-height: 63px;
}

.banner_info p {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  margin-top: 4em;
  margin-bottom: 24px;
}

button.btn, button#p_btn {
  background: #DD0000;
  border-radius: 5px;
  padding: 11px 32px;
  transition: 0.5s;
  cursor: pointer;
}
button.btn a, button#p_btn a {
  color: white;
}

button.btn a i {
  font-size: 19px;
  margin-left: 4px;
}

button.btn:hover {
  background-color: #ff47c78f;
  border: 2px solid white;
}


.banner_info {
  width: 45%;
}

.banner_img {
  width: 50%;
  /* margin-bottom: 0px; */
}

.banner_img img {
  width: 100%;
  margin-top: 15px;
}

.banner_info h1 {
  color: white;
  font-weight: 700;
  font-size: 60px;
  margin-top: 55px;
  line-height: 63px;
}

.banner_info p {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  margin-top: 4em;
  margin-bottom: 24px;
}

button.btn {
  background: #DD0000;
  border-radius: 5px;
  padding: 11px 32px;
}



/*=================================
      update section css hear 
================================== */

section#update_sec {
  margin: 110px 0;
}

.main_box_wrapper {
  display: flex;
}

.left_box {
  width: 305px;
  height: 206px;
  background: #161616;
  border-radius: 10px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 29px;
}


button.box_btn {
  width: 100%;
  background-color: #FFFFFF;
  padding: 11px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
button.box_btn:hover{
  background-color: #DD0000;
}
#blog-btn{
  background-color: #DD0000;
}
button.box_btn a {
  color: black;
  font-size: 1.2em;
}


/* ===========================
   main boxs css hear 
   =================================== */
   .main_boxs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}
.singel_box {
  cursor: pointer;
}
.box_banner_image img {
  width: 100%;
}
.box_disc {
  border: 1px solid #80808052;
  border-top: none;
  padding: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box_banner_image {
  width: 288px;
  height: 161px;
}
.box_disc {
  border: 1px solid #80808052;
  border-top: none;
  padding: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box_banner_image {
  width: 292px;
  height: 161px;
}

button.s_box_btn {
  padding: 2px 16px;
  background: white;
  border-radius: 5px;
  margin: 8px 0;
  border: 1px solid gray;
  transition: 0.5s;
}
button.s_box_btn a {
  color: gray;
}
button.s_box_btn a:hover{
  color: #ffffff;
  /* border: 1px solid #ffffff; */
}

button.s_box_btn:hover {
  background-color: black;
  color: white;
}

.box_disc h3 {
  color: #161616;
  font-size: 18px;
  font-weight: 500;
}

.some_icon_contain {
  display: flex;
  justify-content: space-around;
}

.some_icon_contain i {
  margin-right: 9px;
  color: gray;
}

.up_b_sec  {
  width: 100vw;
  text-align: center;
  margin-top: 34px;
  display: none;
}

button#p_btn, button.btn {

}
div#optional_box {
  display: block;
}
/*=================================
      footer section css hear 
================================== */

footer#footer_sec {
  background: #161616;
}
.top_f {
  /* margin-top: 74px; */
  padding: 34px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.top_f h3 {
  color: #ffffff;
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
}

.f_nab ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.f_nab ul li a {
  /* color: white; */
  color: #B9B9B9;
  font-weight: 500;
  font-size: 1em;
}

.f_nab {
  width: 53vw;
  margin: 2em 0;
}

.bottom_f {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button#p_btn {
  /* display: none; */
  border: none;
}
button#p_btn:hover{
  background-color: blueviolet;
}
/* =================================
footer optional social icon css 
==================================== */
.social_link {
  /* margin: 22px 0; */
  /* display: none; */
}

.social_link ul {
  list-style: none;
  display: flex;
  width: 250px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 29px;
}

.social_link ul li a {
  color: wheat;
}

.social_link ul li a i {
  color: #ffffff;
  font-size: 23px;
  background-color: #DD0000;
  border-radius: 25px;
  padding: 9px;
  width: 20px;
  height: 20px;
  text-align: center;
  transition: 0.5s;
}
.social_link ul li a i:hover{
  background-color: #ffffff;
  color: #DD0000;
}
/* =================================
footer optional social icon css 
==================================== */
/* =================================
     medi Quary css hear 
==================================== */
/* view for mobile  */
@media screen and (max-width:576px) {

  .banner_main{
    /* background-color: tomato; */
    flex-direction: column;
   
    align-items: center;
  }
  .banner_info{
    width: 100%;
    text-align: center;
  }
  .banner_info h1{
    width: 95%;
    font-size: 22px;
    text-align: center;
    line-height: 35px;
  }
  .banner_info p{
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
  }
  .banner_img{
    width: 100%;
  }
  .main_box_wrapper{
    flex-direction: column;
    align-items: center;
  }
  .left_box{
    /* flex-direction: row; */
    width: 75%;
    margin: 0;
    margin-bottom: 22px;
  }
  .button.box_btn{
    /* padding: 0px; */
  }
  .main_boxs{
    grid-template-columns: repeat(1, 1fr);
  }
  .box_disc{
    width: 268px;
  }
  .social_link ul{width: 155px;}
  .f_nab ul{
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  
  .f_nab ul li a:hover{
    
    color:#DD0000;
   
  }
  div#optional_box {
    display: none;
}
  
}

/*----------------------
   view for tab  
   -------------------*/
      @media screen and (min-width:577px) and (max-width:992px) {
        /* .banner_main{
          background-color: tomato;
        } */


    .banner_info h1 {
        font-size: 28px;
        line-height: 107%;
    }

    .banner_img {
        width: 50%;
    }

    .banner_info p {
        margin-top: 23px;
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 100%;
    }
        button#p_btn a {}

    button#p_btn {}

    .main_box_wrapper {
        flex-direction: column;
    }

    .main_boxs {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 0px;
    }

    .left_box {
        flex-direction: row;
        margin: 0px;
        width: 96%;
        height: 90px;
        margin-bottom: 30px;
        padding: 0px 0px;
    }

    button.box_btn {
        width: 29%;
    }
    .box_disc {
      width: 85%;
      margin-top: 26px;
      padding-top: 28px;
    }

    .box_banner_image {
      width: 92%;
    }

    .box_banner_image img {
      /* width: 104%; */
    }

    .up_b_sec {
      width: 100%;
    }
    .up_b_sec{
      display: block;
    }
    

    .banner_info h1 {
        font-size: 28px;
        line-height: 107%;
    }
    
    .banner_img {
        width: 50%;
    }
    
    .banner_info p {
        margin-top: 23px;
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 100%;
    }
    div#optional_box {
      display: none;
  }
    
   }